@import 'resets';
@import 'variables';
@import 'colors';
@import 'fonts';
@import 'utilities';
@import 'misc';
@import 'components';

html, body {
  font-family: 'DM Sans', sans-serif;
  font-size: $base-font-size;
  font-weight: $font-weight-regular;
}

.container {
  width: min(90%, 90vw);
  margin-inline: auto;
  margin-block: 4em;
}

hr {
  border: 1px solid #E9EEF4;
  width: 100%
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input {
  width: 100%;
  padding: 12px 24px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: $border-radius;
  outline: none;
  border: 1px solid $light;
  height: 54px;
}
@media only screen and (max-width: 42em) {
  .f-size-4{
    font-size: 12px;
  }
}